
@font-face {
	font-family: 'Natura Sans';
	src: url('fonts/NaturaSansWeb-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Natura Script';
	src: url('fonts/NaturaScript.otf') format('opentype');
}
