/* ORDERS
----------------------------------------------------------*/

div table tr td {
	padding:10px;
}

.portlet.box > .portlet-title
{
	padding: 0 15px;
}

.portlet.box > .portlet-title .row label.control-label {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 768px) {
	.portlet.box > .portlet-title
	{
		display: flex;
		align-items: center;
	}

	.portlet.box > .portlet-title .row {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.portlet.box > .portlet-title .row label.control-label {
		padding: 0;
		margin: 0;
	}
}
