/* OVERRIDES
----------------------------------------------------------*/
:root {
	--main-bg-color: #f7931e;
	--main-bg-tittles: #6d6d6d;
	--main-bg-secondary-buttons: #E0E0E0;
  }

html, body{ 
	height:100% !important;
	margin:0;
  }
.page-header.navbar {
	height: auto;
}
.alert-danger {
    background-color: #a94442;
    border-color: #a94442;
    color: white;
    font-size: large;
}
.ant-layout{
	display: flex 
}
.ant-layout-header {
	background-color: #F7931E;
	padding: 0px 
}
.ant-menu-horizontal{
	background-color: #F7931E;
	float: right 
}
.ant-layout-content{

	padding: 0px 15px !important;
	align-items: stretch !important;
}

.ant-layout-has-sider{
	background: none !important;
}

.alert-warning {
    font-size: large;
}
.ant-menu-item {
	padding-left: 20px !important;

}
.logo-default{

	margin-left: 10px;
}
.main-card-grid{
	margin: 7px
}
@media (max-width: 1199px) {
	.page-header-fixed .page-container {
		margin-top: 65px;
	}
	.page-header-fixed.page-header-fixed-mobile .page-container {
		margin-top: 65px !important;
	}
	.btn-list-botton {
		display: flex;
		justify-content: flex-end;
	  }
}
@media (max-width: 767px) {
	.page-header.navbar {
		height: 134px;
	}

	.page-header-fixed.page-header-fixed-mobile .page-container {
		margin-top: 134px !important;
	}
	.select-consultant-container{
		text-align-last: left;
		
	}
	.main-card-grid{
		margin: 0px
	}
	.main-product-full{
  
		padding-left: 0px;
		transition-duration: 0.2s;
	  
	}
	.divider-main-products{
		visibility: visible;
	  }
}
@media (max-width: 614px) {
	.page-header.navbar {
		height: 134px;
	}

	.page-header-fixed.page-header-fixed-mobile .page-container {
		margin-top: 134px !important;
	}
	#select-consultant-container{
		text-align-last: left;
		
	}
	.select-direction-container{

		text-align-last: left;
	}
	
}
@media (max-width: 480px) {
	.page-header.navbar {
		height: 134px;
	}

	.page-header.navbar .page-logo {
		display: none;
	}

	.page-header-fixed.page-header-fixed-mobile .page-header.navbar {
		height: 134px;
	}

	.page-header-fixed.page-header-fixed-mobile .page-container {
		margin-top: 134px !important;
	}

	.card-container {

		flex-flow: column;
		align-items: center;
		text-align: center;		 
	}
	#select-consultant-container{
		text-align-last: left;
			
		}
	.btn-list-botton {
		display: flex;
		justify-content:  space-evenly;
		}
	}
	.card-list{

		text-align: -webkit-center;
	}
	.select-direction-container{

		text-align-last: left;
	}
	.container-label-direccion {
		max-width: 100%;
		width: 100%;
		font-size: 18px;
	  }

	  .btn-footer-container{
		justify-content: center
	  }
	
.page-content-wrapper .page-content.no-sidebar
{
    margin-left: 0px;
}

.main-pedidos-header {
	padding: 20px 42px !important;
	align-items: stretch !important;
	border-radius: 3px;
    margin-top: 15px;
	margin-bottom: 15px;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
.container > .btn-footer-container {
	align-items: flex-start;
	text-align: center;
	color: white !important;
	width: inherit;
	width: 140px;
	/* font-size: 25px; */
  }
.main-login-container{

	padding-top: 64px;
}
.ant-btn-danger{
background: var(--main-bg-color);
border: none
}

.ant-spin-dot-item{
	background: var(--main-bg-color)
}
.ant-spin-text{
color: var(--main-bg-color)
}




