/* OVERRIDES
----------------------------------------------------------*/

.page-header.navbar {
	height: auto;
}

.alert-danger {
    background-color: #a94442;
    border-color: #a94442;
    color: white;
    font-size: large;
}

.ant-layout-header {
	background-color: #F7931E!important;
	padding: 0px !important;
}
.ant-menu-horizontal{
	background-color: #F7931E!important;
	float: right !important;
}

.alert-warning {
    font-size: large;
}

@media (min-width: 1200px) {
}

@media (min-width: 992px) {
}


@media (max-width: 1199px) {
	.page-header-fixed .page-container {
		margin-top: 65px;
	}
}

@media (max-width: 991px) {
	.page-header-fixed.page-header-fixed-mobile .page-container {
		margin-top: 65px !important;
	}
}

@media (max-width: 767px) {
	.page-header.navbar {
		height: 134px;
	}

	.page-header-fixed.page-header-fixed-mobile .page-container {
		margin-top: 134px !important;
	}
}

@media (max-width: 614px) {
	.page-header.navbar {
		height: 134px;
	}

	.page-header-fixed.page-header-fixed-mobile .page-container {
		margin-top: 134px !important;
	}
}

@media (max-width: 480px) {
	.page-header.navbar {
		height: 134px;
	}

	.page-header.navbar .page-logo {
		display: none;
	}

	.page-header-fixed.page-header-fixed-mobile .page-header.navbar {
		height: 134px;
	}

	.page-header-fixed.page-header-fixed-mobile .page-container {
		margin-top: 134px !important;
	}
}

.page-content-wrapper .page-content.no-sidebar
{
    margin-left: 0px;
}
