@font-face {
  font-family: "Natura";
  src: url("/fonts/NaturaSansWeb-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Natura-Light";
  src: url("/fonts/NaturaSansWeb-Light.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Natura-Sans";
  src: url("/fonts/NaturaSansWeb-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}
:root {
  --main-bg-color: #F7931E;
  --main-bg-tittles: #6D6D6D
}

html,
body {
  height: 100%;
  margin: 0;
  
}
.mainWeb {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.mainRouter {
  flex: 1;
}


.lbl-CaptionUser {
  display: none;
  padding: 14px 6px 12px 8px;
  margin: 0 20px 0 0;
  color: white;
  font-family: "Natura Sans";
}

.li-userInfo {
  display: none;
  padding: 12px 0px 0px 0px;
  color: white;
  align-items: center;
}
.menu-list {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  align-items: center;
}

.footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.main-advice {
  /* font-family:"Natura" !important; */
  color: #8a6d3b;
  font-size: 20px;
  vertical-align: middle;
  margin-left: 15px !important;
}
.main-advice-header {
  background:  #fcf8e3!important;
  border: 1px solid #faebcc;
  margin-left: 10px !important;
  text-align: left;
  border-radius: 3px;
 
}
.main-pedidos-tittle {
  align-items: center;
  color: #f2e9cb !important;
  justify-content: center;
  font-size: 24px;
  line-height: 20px !important;

}

.main-pedidos-header {
  display: flex;
  padding: 20px 42px !important;
  align-items: stretch !important;
  text-align: left;
  margin-left: 10px !important;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container :first-child {
  align-items: flex-start;
  text-align: left;
}

.btn-home {
  background:var(--main-bg-color) !important;
  color: white !important;
}

.home-container{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  margin-left: 15px;
}

.home-container :first-child {
  align-items: flex-start;
  text-align: left;
}

.login-container{
color: var(--main-bg-color);
/*   */
}

.h4-home-tittle{
color: var(--main-bg-tittles)

}
.h3-login-tittle{
  color: var(--main-bg-tittles)
}

