@font-face {
  font-family: "Natura";
  src: url("/fonts/NaturaSansWeb-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Natura-Light";
  src: url("/fonts/NaturaSansWeb-Light.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Natura-Sans";
  src: url("/fonts/NaturaSansWeb-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

html,
body {
  height: 100%;
  margin: 0;
  
}
.mainWeb {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.mainRouter {
  flex: 1;
}

/***
Orange Default
***/
/* Button */
.orange.btn {
  color: white;
  background-color: #ee7d01; /*#35aa47; b8d2ba*/
  border-color: "";
}
.orange.btn:hover,
.orange.btn:focus,
.orange.btn:active,
.orange.btn.active {
  color: white;
  background-color: #e66201; /*#2d8f3c;*/
}
.open .orange.btn.dropdown-toggle {
  color: white;
  background-color: #e66201;
}
.orange.btn:active,
.orange.btn.active {
  background-image: none;
  background-color: #df4d01; /*#267b34;*/
}
.orange.btn:active:hover,
.orange.btn.active:hover {
  background-color: #e25501; /*#298337;*/
}
.open .orange.btn.dropdown-toggle {
  background-image: none;
}
.orange.btn.disabled,
.orange.btn.disabled:hover,
.orange.btn.disabled:focus,
.orange.btn.disabled:active,
.orange.btn.disabled.active,
.orange.btn[disabled],
.orange.btn[disabled]:hover,
.orange.btn[disabled]:focus,
.orange.btn[disabled]:active,
.orange.btn[disabled].active,
fieldset[disabled] .orange.btn,
fieldset[disabled] .orange.btn:hover,
fieldset[disabled] .orange.btn:focus,
fieldset[disabled] .orange.btn:active,
fieldset[disabled] .orange.btn.active {
  background-color: #ee7d01;
}
.orange.btn .badge {
  color: #ee7d01;
  background-color: white;
}

/* Button Strip */
.btn.orange-stripe {
  border-left: 3px solid #ee7d01;
}

/* Portlet */
.portlet > .portlet-body.orange,
.portlet.orange {
  background-color: #ee7d01;
}

.portlet.solid.orange > .portlet-title,
.portlet.solid.orange > .portlet-body {
  border: 0;
  color: white;
}
.portlet.solid.orange > .portlet-title > .caption > i {
  color: white;
}
/* .portlet.solid.orange > .portlet-title > .tools > a.remove {
  background-image: url(../img/portlet-remove-icon-white.png); }
.portlet.solid.orange > .portlet-title > .tools > a.config {
  background-image: url(../img/portlet-config-icon-white.png); }
.portlet.solid.orange > .portlet-title > .tools > a.reload {
  background-image: url(../img/portlet-reload-icon-white.png); }
.portlet.solid.orange > .portlet-title > .tools > a.expand {
  background-image: url(../img/portlet-expand-icon-white.png); }
.portlet.solid.orange > .portlet-title > .tools > a.collapse {
  background-image: url(../img/portlet-collapse-icon-white.png); }
.portlet.solid.orange > .portlet-title > .tools > a.fullscreen {
  color: #fdfdfd; } */

.portlet.box.orange {
  border: 1px solid #ff9a01; /*#4bc75e;*/
  border-top: 0;
}
.portlet.box.orange > .portlet-title {
  background-color: #ee7d01;
}
.portlet.box.orange > .portlet-title > .caption {
  color: white;
}
.portlet.box.orange > .portlet-title > .caption > i {
  color: white;
}
.portlet.box.orange > .portlet-title > .actions .btn-default {
  background: transparent !important;
  background-color: transparent !important;
  border: 1px solid #7ad588;
  color: #8ddc99;
}
.portlet.box.orange > .portlet-title > .actions .btn-default > i {
  color: #99dfa4;
}
.portlet.box.orange > .portlet-title > .actions .btn-default:hover,
.portlet.box.orange > .portlet-title > .actions .btn-default:focus,
.portlet.box.orange > .portlet-title > .actions .btn-default:active,
.portlet.box.orange > .portlet-title > .actions .btn-default.active {
  border: 1px solid #a1e2ab;
  color: #b4e8bc;
}

/* Statistic Block */
.dashboard-stat.orange {
  background-color: #ee7d01;
}
.dashboard-stat.orange.dashboard-stat-light:hover {
  background-color: #309a41;
}
.dashboard-stat.orange .visual > i {
  color: white;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.orange .details .number {
  color: white;
}
.dashboard-stat.orange .details .desc {
  color: white;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.orange .more {
  color: white;
  background-color: #309a41;
}

/* General Element */
.bg-orange {
  border-color: #ee7d01 !important;
  background-image: none !important;
  background-color: #ee7d01 !important;
  color: white !important;
}

/* General Text & Icon Font Colors */
.font-orange {
  color: #ee7d01 !important;
}

.user-dropdown {
  color: white;
  font-family: "Natura Sans";
}

.lbl-CaptionUser {
  display: none;
  padding: 14px 6px 12px 8px;
  margin: 0 20px 0 0;
  color: white;
  font-family: "Natura Sans";
}

.li-userInfo {
  display: none;
  padding: 12px 0px 0px 0px;
  color: white;
  align-items: center;
}
.menu-list {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  align-items: center;
}

.footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.main-advice {
  /* font-family:"Natura" !important; */
  color: #8a6d3b;
  font-size: 20px;
  vertical-align: middle;
  margin-left: 15px !important;
}
.main-advice-header {
  background:  #fcf8e3!important;
  border: 1px solid #faebcc;
  margin-left: 10px !important;
  text-align: left;
  border-radius: 3px;
 
}
.main-pedidos-tittle {
  align-items: center;
  color: #f2e9cb !important;
  justify-content: center;
  font-size: 24px;
  line-height: 20px !important;

}

.main-pedidos-header {
  display: flex;
  padding: 20px 42px !important;
  align-items: stretch !important;
  text-align: left;
  margin-left: 10px !important;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container :first-child {
  align-items: flex-start;
  text-align: left;
}

.btn-home {
  background: #ee7d01 !important;
  color: white !important;
}

.home-container{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  margin-left: 15px;
}

.home-container :first-child {
  align-items: flex-start;
  text-align: left;
}

.login-container{
color: #DF4D01;
}
.panel-primary{

  margin-left: 25px;
}



